.birdContent__list {
  width: 38%;
}

.birdContent__card {
  width: 58%;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  height: 295px;
  border-radius: 0.4rem;
}

.birdContent {
  justify-content: space-between;
  margin: 10px 0 0;
}

.card__image {
  width: 220px;
  height: 10rem;
  margin-right: 20px;
  border-radius: 8px;
}

.card__about {
  width: 100%;
}

.birdContent__card_main {
  align-items: center;
}

.card__about_name--latin {
  margin: 3px
}